<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twice Removed WebScraper</title>
    <link rel="icon" type="image/png"
        href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/facebook/230/newspaper_1f4f0.png">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/assets/css/style.css">
</head>

<body>
    <div class="pageWrapper">
        <div class="navWrapper">
            <p>Navbar</p>
        </div>
        <div class="heroWrapper">
            <p>Image here</p>
            <div class="contentWrapper">
                {{{ body }}}
            </div>
        </div>

    </div>
</body>

</html>