<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twice Removed WebScraper</title>
    <link rel="icon" type="image/png"
        href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/259/sun-behind-cloud_26c5.png">
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <div class="pageWrapper">
        <div class="navWrapper">
            <div class="navbuttonWrapper" id="navbuttonWrapper">
                <button class="navButton" onclick="toggleNavbar()"><i
                        class="fas fa-chevron-circle-down fa-2x"></i></button>
            </div>
            <div class="actualNav" id="toggleNav">
                <div class="actualNavContent">
                    <p class="navLink"><a href="#">Log In / Log Out</a></p>
                    <p class="navLink"><a href="#">See All Commented Articles</a></p>
                    <p class="navLink"><a href="#">See Saved Articles</a></p>
                    <p class="navLink"><a href="#">See GitHub Repo</a></p>
                    <button class="navButtonBack" onclick="toggleNavbar()"><i
                            class="fas fa-chevron-circle-up fa-2x"></i></button>
                </div>
            </div>
        </div>
        <div class="heroWrapper">
            <div class="contentWrapper">
                {{{ body }}}
            </div>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
    <script src="assets/js/controller.js"></script>
</body>

</html>