<div class="articleWrapper">
    <p>Drawing from index</p>
    {{#each articles}}
    <p>Found article</p>
    <div class="articleContainer">
        <div class="articleImageDiv">
            <img class="articleImage" src="{{this.imageURL}}">
        </div>
        <div class="articleTitle">
            <p>{{this.headline}}</p>
        </div>
    </div>
    {{/each}}
</div>