<div class="weatherWrapper">
    <div class="weatherIntro">
        <h2>Welcome to Balmy LA WebScraper!</h2>
        <p>Pulled from <a href="https://www.accuweather.com/">Accuweather</a></p>
        <br>
        <p class="introText">This webpage draws information about the temperature from Accuweather just so you can
            complain about it.</p>
        <p class="introText">Now you can complain about LA's terrible weather even if you don't live there!</p>

        <p class="introText">In order to add a comment, you'll need to create a user. This, however, is just for the
            purpose of hooking a name onto your complaint. We don't take your personal information.</p>

        <p>{{user}}</p>
    </div>
</div>