<div class="authenticateWrapper">
    <div class="authenticateContent">
        <form action="/login" method="POST">
            <h1>Log In</h1>
            <p>Enter your information to log in:</p>
            <input type="text" placeholder="Enter Username" name="username" id="username" required />
            <input type="password" placeholder="Enter Password" name="password" id="password" required />
            <input id="submitBtn" type="submit" value="Log In" />
        </form>
    </div>
</div>