@import url("https://fonts.googleapis.com/css2?family=Sen&family=Sigmar+One&display=swap");
.weatherWrapper {
  width: 90%;
}

.weatherWrapper .weatherIntro {
  width: 95%;
  margin: 2.5%;
  padding: 3vw;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  text-align: center;
}

.weatherWrapper .weatherIntro h2 {
  font-family: "Sigmar One", cursive;
  margin-bottom: 0.7em;
}

.weatherWrapper .weatherIntro h2 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .weatherWrapper .weatherIntro h2 {
    font-size: calc( 20px + strip-unit(10px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .weatherWrapper .weatherIntro h2 {
    font-size: 30px;
  }
}

.weatherWrapper .weatherIntro p {
  opacity: 0.7;
  font-style: italic;
}

.weatherWrapper .weatherIntro p .introText {
  font-style: none;
  margin-bottom: 1.5em;
}

.weatherWrapper .weatherIntro p a {
  opacity: 1;
  font-weight: bold;
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.weatherWrapper .weatherIntro p a:hover {
  color: white;
}

.weatherWrapper .weatherContainer {
  width: 95%;
  margin: 2.5%;
  padding: 3vw;
}

.weatherWrapper .weatherContainer .weatherImageDiv {
  width: 100%;
  height: 20vw;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px 30px 0 0;
}

.weatherWrapper .weatherContainer .weatherImageDiv .weatherImage {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.weatherWrapper .weatherContainer .weatherTitle {
  width: 100%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  font-family: "Sigmar One", cursive;
  letter-spacing: 0.25rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.weatherWrapper .weatherContainer .weatherTitle {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .weatherWrapper .weatherContainer .weatherTitle {
    font-size: calc( 16px + strip-unit(14px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .weatherWrapper .weatherContainer .weatherTitle {
    font-size: 30px;
  }
}

.weatherWrapper .weatherContainer .weatherDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5vh 2vh 4vh 2vh;
  background-color: rgba(255, 255, 255, 0.6);
}

.weatherWrapper .weatherContainer .weatherDescription {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .weatherWrapper .weatherContainer .weatherDescription {
    font-size: calc( 16px + strip-unit(14px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .weatherWrapper .weatherContainer .weatherDescription {
    font-size: 30px;
  }
}

.weatherWrapper .weatherContainer .weatherDescription p {
  margin: 1vw;
}

.weatherWrapper .weatherContainer .weatherComment {
  text-align: center;
  padding: 1.5vh 2vh 4vh 2vh;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 30px 30px;
}

.weatherWrapper .weatherContainer .weatherComment {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .weatherWrapper .weatherContainer .weatherComment {
    font-size: calc( 16px + strip-unit(14px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .weatherWrapper .weatherContainer .weatherComment {
    font-size: 30px;
  }
}

.weatherWrapper .weatherContainer .weatherComment input {
  width: 100%;
  display: block;
  border: none;
  padding: 2vh 2vw;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  border-radius: 30px;
  background-color: #ff6103;
  color: white;
}

.weatherWrapper .weatherContainer .weatherComment input:hover {
  opacity: 0.7;
  background-color: white;
  color: #ff6103;
}

.weatherWrapper .weatherContainer .weatherComplaints {
  padding: 1.5vh 2vh 4vh 2vh;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 30px 30px;
  text-align: left;
}

.weatherWrapper .weatherContainer .weatherComplaints {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .weatherWrapper .weatherContainer .weatherComplaints {
    font-size: calc( 16px + strip-unit(14px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .weatherWrapper .weatherContainer .weatherComplaints {
    font-size: 30px;
  }
}

.weatherWrapper .weatherContainer .weatherComplaints .individualComplaint {
  position: relative;
  padding: 1.5vh 2vh 4vh 2vh;
  border-radius: 30px;
  background-color: rgba(255, 97, 3, 0.4);
  margin-bottom: 5vh;
}

.weatherWrapper .weatherContainer .weatherComplaints .individualComplaint:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: rgba(255, 97, 3, 0.4);
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.weatherWrapper .weatherContainer .weatherComplaints .individualComplaint .authorComplaint {
  font-weight: bolder;
  color: #fff;
  margin-bottom: 1.5vh;
}

.authenticateWrapper {
  width: 90%;
}

.authenticateWrapper .authenticateContent {
  margin: 2.5%;
  margin-top: 30vh;
  padding: 6vw 3vw;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  text-align: center;
}

.authenticateWrapper .authenticateContent h1 {
  font-family: "Sigmar One", cursive;
  margin-bottom: 0.7em;
}

.authenticateWrapper .authenticateContent h1 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .authenticateWrapper .authenticateContent h1 {
    font-size: calc( 20px + strip-unit(10px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .authenticateWrapper .authenticateContent h1 {
    font-size: 30px;
  }
}

.authenticateWrapper .authenticateContent input {
  width: 90%;
  margin: 2vh 0;
  display: block;
  border: none;
  padding: 2vh 2vw;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  border-radius: 30px;
  background-color: #ff6103;
  color: white;
}

.authenticateWrapper .authenticateContent input:hover {
  background-color: white;
  color: #ff6103;
}

.authenticateWrapper .authenticateContent #username,
.authenticateWrapper .authenticateContent #password {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

.commentWrapper {
  width: 90%;
}

.commentWrapper .commentContent {
  margin: 2.5%;
  margin-top: 30vh;
  padding: 6vw 3vw;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  text-align: center;
}

.commentWrapper .commentContent h1 {
  font-family: "Sigmar One", cursive;
  margin-bottom: 0.7em;
}

.commentWrapper .commentContent h1 {
  font-size: 20px;
}

@media screen and (min-width: 320px) {
  .commentWrapper .commentContent h1 {
    font-size: calc( 20px + strip-unit(10px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .commentWrapper .commentContent h1 {
    font-size: 30px;
  }
}

.commentWrapper .commentContent .commentImg {
  height: 10vw;
}

.commentWrapper .commentContent textarea {
  width: 90%;
  margin-top: 3vh;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  font-weight: bold;
  border: none;
  padding: 2vh 2vw;
  border-radius: 30px;
}

.commentWrapper .commentContent h2 {
  margin-top: 5vh;
}

.commentWrapper .commentContent input {
  width: 100%;
  margin: 2vh 0;
  display: block;
  border: none;
  padding: 2vh 2vw;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  border-radius: 30px;
  background-color: #ff6103;
  color: white;
}

.commentWrapper .commentContent input:hover {
  background-color: white;
  color: #ff6103;
}

body {
  font-family: "Sen", sans-serif;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc( 16px + strip-unit(8px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}

.pageWrapper {
  width: 100vw;
  height: 100vh;
}

.pageWrapper .navWrapper {
  position: fixed;
  z-index: 3;
  width: 35%;
  height: 100%;
  text-align: center;
  padding-top: 0.25vh;
}

.pageWrapper .navWrapper .navbuttonWrapper {
  display: block;
}

.pageWrapper .navWrapper .navbuttonWrapper .navButton {
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.pageWrapper .navWrapper .navbuttonWrapper .navButton:hover {
  color: white;
  -webkit-transform: scale(1.5) perspective(1px);
          transform: scale(1.5) perspective(1px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.pageWrapper .navWrapper .navContent {
  padding-top: 30vh;
  padding-left: 2.5vw;
  color: #fff;
  text-align: center;
}

.pageWrapper .navWrapper .navContent h1 {
  font-family: "Sigmar One", cursive;
  line-height: 1.2em;
  margin-bottom: 5vh;
  border-bottom: 2px rgba(255, 255, 255, 0.7) double;
}

.pageWrapper .navWrapper .navContent h1 {
  font-size: 23px;
}

@media screen and (min-width: 320px) {
  .pageWrapper .navWrapper .navContent h1 {
    font-size: calc( 23px + strip-unit(27px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .pageWrapper .navWrapper .navContent h1 {
    font-size: 50px;
  }
}

.pageWrapper .navWrapper .navContent p {
  font-family: "Sen", sans-serif;
  font-weight: bolder;
  line-height: 1.2em;
}

.pageWrapper .navWrapper .navContent p {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .pageWrapper .navWrapper .navContent p {
    font-size: calc( 16px + strip-unit(24px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .pageWrapper .navWrapper .navContent p {
    font-size: 40px;
  }
}

.pageWrapper .navWrapper .actualNav {
  position: fixed;
  display: none;
  z-index: 5;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.pageWrapper .navWrapper .actualNav .actualNavContent {
  padding-top: 25vh;
  letter-spacing: 0.5rem;
  font-family: "Sigmar One", cursive;
}

.pageWrapper .navWrapper .actualNav .actualNavContent {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .pageWrapper .navWrapper .actualNav .actualNavContent {
    font-size: calc( 25px + strip-unit(15px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .pageWrapper .navWrapper .actualNav .actualNavContent {
    font-size: 40px;
  }
}

.pageWrapper .navWrapper .actualNav .actualNavContent .navLink {
  margin-bottom: 5vh;
}

.pageWrapper .navWrapper .actualNav .actualNavContent .navLink a {
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.pageWrapper .navWrapper .actualNav .actualNavContent .navLink a:hover {
  color: white;
}

.pageWrapper .navWrapper .actualNav .actualNavContent input {
  letter-spacing: 0.5rem;
  font-family: "Sigmar One", cursive;
  background-color: transparent;
  margin-bottom: 5vh;
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border: none;
}

.pageWrapper .navWrapper .actualNav .actualNavContent input {
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .pageWrapper .navWrapper .actualNav .actualNavContent input {
    font-size: calc( 25px + strip-unit(15px) * ((100vw - 320px) / strip-unit(880px)));
  }
}

@media screen and (min-width: 1200px) {
  .pageWrapper .navWrapper .actualNav .actualNavContent input {
    font-size: 40px;
  }
}

.pageWrapper .navWrapper .actualNav .actualNavContent input:hover {
  color: white;
}

.pageWrapper .navWrapper .actualNav .actualNavContent .navButtonBack {
  color: rgba(0, 0, 0, 0.5);
  bottom: 10vh;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.pageWrapper .navWrapper .actualNav .actualNavContent .navButtonBack:hover {
  color: black;
  -webkit-transform: scale(1.5) perspective(1px);
          transform: scale(1.5) perspective(1px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.pageWrapper .heroWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
}

.pageWrapper .heroWrapper .contentWrapper {
  position: fixed;
  width: 60%;
  height: 100%;
  bottom: 0;
  right: 0;
  overflow: auto;
}
/*# sourceMappingURL=style.css.map */