.weatherWrapper {
  width: 90%;

  .weatherIntro {
    width: 95%;
    margin: 2.5%;
    padding: 3vw;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    text-align: center;

    h2 {
      font-family: $header-font-fam;
      @include fluid-type(320px, 1200px, 20px, 30px);
      margin-bottom: 0.7em;
    }

    p {
      opacity: 0.7;
      font-style: italic;

      a {
        opacity: 1;
        font-weight: bold;
        text-decoration: none;
        color: black;
        @include transition-time;

        &:hover {
          color: white;
        }
      }
    }
  }

  .weatherContainer {
    width: 95%;
    margin: 2.5%;
    padding: 3vw;

    .weatherImageDiv {
      width: 100%;
      height: 20vw;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 30px 30px 0 0;

      .weatherImage {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
      }
    }

    .weatherTitle {
      width: 100%;
      padding-top: 1vh;
      padding-bottom: 1vh;
      text-align: center;
      font-family: $header-font-fam;
      letter-spacing: 0.25rem;
      background-color: rgba(255, 255, 255, 0.6);
      @include fluid-type(320px, 1200px, 16px, 30px);
    }

    .weatherDescription {
      display: flex;
      justify-content: space-between;
      padding: 1.5vh 2vh 4vh 2vh;
      background-color: rgba(255, 255, 255, 0.6);
      @include fluid-type(320px, 1200px, 16px, 30px);

      p {
        margin: 1vw;
      }
    }

    .weatherComment {
      text-align: center;
      padding: 1.5vh 2vh 4vh 2vh;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 0 0 30px 30px;
      @include fluid-type(320px, 1200px, 16px, 30px);

      input {
        width: 100%;
        display: block;
        border: none;
        padding: 2vh 2vw;
        font-family: $body-font-fam;
        font-weight: bold;
        border-radius: 30px;
        background-color: #ff6103;
        color: white;

        &:hover {
          opacity: 0.7;
          background-color: white;
          color: #ff6103;
        }
      }
    }

    .weatherComplaints {
      padding: 1.5vh 2vh 4vh 2vh;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 0 0 30px 30px;
      @include fluid-type(320px, 1200px, 16px, 30px);
      text-align: left;

      .individualComplaint {
        position: relative;
        padding: 1.5vh 2vh 4vh 2vh;
        border-radius: 30px;
        background-color: rgba(255, 97, 3, 0.4);
        margin-bottom: 5vh;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 20px solid transparent;
          border-top-color: rgba(255, 97, 3, 0.4);
          border-bottom: 0;
          border-left: 0;
          margin-left: -10px;
          margin-bottom: -20px;
        }

        .authorComplaint {
          font-weight: bolder;
          color: #fff;
          margin-bottom: 1.5vh;
        }
      }
    }
  }
}
